/* 公共布局和头部 */
.headOn{ background: #098a82;}
.base_header{ background: #fff9e8;}
.base_header { height: 69px;line-height: 69px;background: #5ac5c1;}
.base_header .b_nav li a{ padding:0 20px;color:#fff;float:left;font-size: 18px;}
.base_header .b_nav li a:hover{background:#098a82;}
/*.base_header .b_nav{ margin-left: 58px;}*/
.headerCon h1{overflow:hidden;height:60px;}
.headerCon h1 a{margin:5px 0 0 20px;display: inline-block; width: 141px;height: 58px;background: url("../../image/common/tizi.png") 0 0 no-repeat;_background-image: url("../../image/common/tizi_8.png");}
.base_header .loginAfter{ margin-right: 20px;}
.base_header .b_nav{margin-left: 30px;}
/*头部右侧和首页公共的信息提醒和用户名信息*/
.base_header .loginAfter a.fr{text-align: left;margin-right: 8px;color:#fff;_padding-top:26px;}
.loginAfter div.posr{/*_line-height: 18px;*/}
.base_header .loginAfter em{color:#fff;background: url("../../image/brush_question/wpullDown.gif") right center no-repeat;}
.base_header .loginAfter .infor{display: none; z-index: 223;position: absolute;background: #fff;width: 104px; padding-top:10px;top: 50px;
right: 0;box-shadow:2px 2px 4px #e3e5ea,-2px -2px 4px #e3e5ea;border: 1px solid #e3e5ea;}
.base_header .loginAfter .infor li{height: 34px;float: left;width: 104px;}
.base_header .loginAfter .infor li a{width: 80px;float: left;padding-left: 24px;height: 34px;line-height: 34px;color:#565656;}
.base_header .loginAfter li a:hover{ background: #efede8;}
.infor{display: none;}
/*头部 消息提醒*/
.warnBox{margin-left: 3px;display: inline-block;background: url("../../image/common/mess.png") left center no-repeat;_background-image: url("../../image/common/mess_8.png");}
.warnBox var{font-style: normal;color:#fff;margin-left: 3px;display: inline-block;padding: 0 5px;background: #ff7d5a;border-radius: 4px;height: 20px;line-height: 20px;
	-webkit-border-radius: 4px;-moz-border-radius: 4px;-o-border-radius: 4px;-ms-border-radius: 4px;
}
.loginAfter em{padding-right: 15px; cursor: pointer;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space:nowrap;text-align: right;}